$phone-l: "only screen and (min-width: 551px) and (max-width: 767px)";
$phone-ml: "only screen and (min-width: 481px) and (max-width: 550px)";
$phone-m: "only screen and (min-width : 320px) and (max-width : 480px)";
$phone-s: "only screen and (max-width : 319px)";

$pc-s: "only screen and (min-width: 1025px) and (max-width: 1157px)";
$tablet: "only screen and (min-width : 768px) and (max-width : 1024px)";